*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gradient-from: hsl(249, 99%, 64%);
  --gradient-to: hsl(278, 94%, 30%);
  --input-errors: hsl(0, 100%, 66%);

  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);

  --font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
}

body {
  font-family: var(--font-family);
  font-weight: 500;
  height: 100%;
  min-height: 100vh;
  font-size: clamp(1rem, 0.9278rem + 0.3082vw, 1.125rem);
}

::placeholder {
  color: var(--dark-grayish-violet);
  font-size: clamp(1rem, 0.9278rem + 0.3082vw, 1.125rem);
  font-family: "Space Grotesk", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
}

main .card-ctr {
  flex-basis: 240px;
  background-image: url(/images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main .cards {
  max-width: 21.5rem;
  position: relative;
  margin: auto;
  height: 100%;
}

main .card-ctr .card {
  width: 286px;
  height: 156px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}

main .card-back {
  right: 1rem;
  top: 36px;
  background-image: url(/images/bg-card-back.png);
}

main .card-front {
  left: 1rem;
  bottom: -41px;
  z-index: 1;
  background-image: url(/images/bg-card-front.png);
  padding: 16px 1.25rem;
  display: flex;
  flex-direction: column;
}

main .form-ctr {
  padding: 88px 1.5rem 46px;
}

/* Form */
form .field:not(:last-of-type) {
  margin-block-end: 24px;
}

form label {
  display: block;
  margin-block-end: 12px;
  text-transform: uppercase;
  font-size: 0.875rem;
}

form input {
  width: 100%;
  height: 44px;
  padding-inline: 1rem;
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(1rem, 0.9278rem + 0.3082vw, 1.125rem);
  outline: none;
}

form input:hover,
form input:focus,
form input:focus-visible {
  border: 1px solid var(--gradient-to);
}

form input.invalid {
  border-color: var(--input-errors);
}

form .date-cvc,
form .date {
  display: flex;
  align-items: center;
}

form .date-cvc {
  gap: 0.75rem;
}

form .date-cvc .exp-ctr,
form .date-cvc .cvc {
  flex: 1 1 calc(50%);
}

form .date {
  gap: 0.5rem;
}

form .btn-ctr {
  margin-block-start: 28px;
}

/* Generic */
input {
  border: 1px solid var(--light-grayish-violet);
  font-size: 1rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@media screen and (min-width: 56.25rem) {
  main {
    flex-direction: row;
  }

  main .card-ctr {
    flex-basis: 240px;
    background-image: url(/images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  main .cards {
    display: none;
  }
}

@media screen and (min-width: 64rem) {
  main .card-ctr {
    flex-grow: 1;
    flex-shrink: 0;
    width: 30.25rem;
    max-width: 30.25rem;
    display: flex;
    align-items: center;
  }

  main .cards {
    display: block;
    height: 32.875rem;
    width: 100%;
    max-width: 100%;
    margin: auto;
  }

  main .card-ctr .card {
    height: 15.5rem;
    width: 28rem;
    border-radius: 12px;
  }

  main .card-back {
    left: 16rem;
    top: 54%;
    background-image: url(/images/bg-card-back.png);
  }

  main .card-front {
    left: 10rem;
    top: 0;
    z-index: auto;
    background-image: url(/images/bg-card-front.png);
    padding: 28px 2rem;
  }

  main .form-ctr {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main .form-ctr form {
    width: 26vw;
    max-width: 23.75rem;
  }
}
